@media (max-width: 1472px) {
  .laptop {
    display: block;
  }

  .desk {
    display: none;
  }

  .container {
    max-width: 1185px;
    padding: 0 31px;
  }

  // header
  .header {
    &__wrapper {
      max-width: 1472px;
    }

    &__title {
      flex-grow: 1;
    }

    &__lang {
      margin-right: 15px;
    }

    .lang-ua {
      margin-right: 10px;
    }
  }

  .search {
    svg {
      vertical-align: middle;
    }
  }

  .nav {
    &__wrapper {
      min-height: 900px;
    }

    &__container {
      width: 1440px;
      padding: 0 31px;
    }
  }

  // special
  .special {
    margin-bottom: 25px;

    &__block {
      width: 24%;
    }

    .block-a {
      background-position: center;
    }

    .block-b {
      background-position: center;
    }

    .block-c {
      background-position: center;
    }

    .block-d {
      background-position: center;
    }
  }

  // block
  .block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 80px;
  }

  // card
  .card {
    width: 300px;
    min-height: 280px;

    &__large {
      width: 65%;
    }

    &--half {
      width: 623px;
    }

    &__opinion-autor {
      margin-top: 15px;
    }
  }

  .preview {
    margin-bottom: 55px;

    &__tittle {
      margin-top: 25px;
    }
  }

  .advertising {
    &__wrapper {
      padding: 0 31px;
    }
  }

  .slider {
    &__container {
      max-width: 962px;
    }

    &__inner {
      position: relative;
      max-width: 1200px;
      margin: 0 auto;
      background-color: #f4f4f4;
    }
  }

  .slider-a {
    .card {
      width: 408px;
    }

    &__prev::after,
    &__next::after {
      margin-top: 120px;
    }
  }

  .slider-b {
    margin-top: 40px;

    &__prev::after,
    &__next::after {
      margin-top: 113px;
    }
  }

  .page__tittle {
    padding: 0;
    margin-top: 40px;
    margin-left: 80px;
    margin-bottom: 25px;
  }

  .page__title--slider {
    margin-left: 115px;
  }

  .page__tittle--popular {
    margin-left: 0;
  }

  .block--i {
    margin-top: 50px;
  }

  .footer {
    &__wrapper {
      max-width: 1200px;
      padding: 0 31px;
    }

    &__item {
      font-size: 14px;
      width: 23%;
    }
  }
}
