@media (max-width: 1200px) {
  .header {
    &__wrapper {
      max-width: 768px;
    }
  }

  .card {
    width: 210px;
    font-size: 16px;
    min-height: 100px;
    line-height: 1.2;

    &__category {
      padding: 1px 7px;
      font-weight: 400;
      font-size: 12px;
      top: 140px;
    }

    &__category-long {
      font-size: 12px;
      top: 15px;
      padding: 1px 5px;
      margin-top: 0;
    }

    &__figcaption-shot {
      font-size: 16px;
    }

    &__category-shotb {
      top: 70px;
    }

    &__large {
      border: 2px solid #000;
      width: 100%;
      background-position: 100% 100%;
    }

    &__link-opinion {
      font-size: 14px;
    }

    &__title-opinion {
      margin-bottom: 25px;
    }

    &__category-tehnology {
      top: 140px;
    }

    &__category-nophoto {
      top: 0;
    }

    &--half {
      width: 447px;
    }

    &--opinion {
      padding: 15px 15px;
    }

    &__opinion-autor {
      margin-top: 40px;
    }

    &__title-long {
      padding-bottom: 30px;
      .table {
        font-size: 60px;
        margin-bottom: 10px;
      }
    }

    &--table {
      margin-top: 50px;
    }

    &__title-category {
      line-height: 1.2;
    }

    &__figcaption-nophoto {
      padding-top: 15px;
    }

    &--noborder {
      border: none;
    }
  }

  .card__title-link {
    line-height: 1.2;
  }

  .page {
    &__tittle {
      margin-left: 0;
    }

    &__title-link {
      font-size: 24px;
    }

    &__explanation {
      font-size: 16px;
    }

    &__category {
      font-size: 12px;
      margin-top: 15px;
      padding: 0 10px;
    }

    &__figcaption {
      margin-top: 50px;
    }

    &__title--slider {
      margin-left: 30px;
    }
  }

  .block--g {
    .block--opinion {
      padding-bottom: 0;
    }

    .card__title-opinion {
      padding-top: 50px;
    }

    .card__figcaption-opinion {
      &::after,
      &::before {
        top: 20px;
      }
    }
  }

  .block {
    margin: 0;
  }

  .block--f {
    .card__title {
      line-height: 1.2;
    }

    .desk {
      display: block;
    }
  }

  .block--g {
    line-height: 1.2;

    .card__title-shot {
      margin: 0;
    }
  }

  .container {
    width: 750px;
  }

  .advertising__wrapper {
    .laptop {
      display: none;
    }
  }

  .preview {
    .desk {
      display: none;
    }

    &__tittle {
      margin-top: 10px;
    }

    &__tittle-link {
      font-size: 24px;
    }

    &__more-link {
      font-size: 14px;
    }
  }

  .autor__white {
    font-size: 12px;
  }

  .card__explanation {
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 40px;
  }

  .advertising__text {
    font-size: 16px;
    margin-top: 10px;
  }

  .slider {
    max-width: 100%;

    &__container {
      max-width: 600px;
    }

    &__inner {
      max-width: 752px;
    }
  }

  .slider-a {
    margin: 0 auto;
  }

  .slider-a,
  .slider-b {
    margin-top: 55px;
    width: 100%;
  }

  .slider-b {
    .card {
      width: 300px;
    }
  }

  .slider-c__page {
    .page__title-link {
      font-size: 25px;
    }

    .page__figcaption {
      width: 600px;
      margin-top: 45px;
    }

    .page__explanation {
      margin-top: 10px;
      font-size: 16px;
    }
  }

  .slider-c__figcaption {
    top: 30%;
    left: 60%;
  }

  .slider-c__explanation {
    margin: 0;
  }

  .block--i {
    margin-top: 50px;
  }

  .card__explanation--i {
    font-size: 12px;
  }

  .footer {
    &__menu {
      padding-bottom: 20px;
    }

    &__wrapper {
      max-width: 768px;
      padding: 0 31px;
    }

    &__sign {
      flex-wrap: wrap;
    }

    &__item {
      width: 45%;
    }

    &__sign-text {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-left: 0;
      margin-top: 10px;

      p {
        font-size: 14px;
      }
    }

    &--footer {
      display: block;
    }

    &__text-block1,
    &__text-block2 {
      font-size: 12px;
    }

    .button {
      margin-top: 0;
    }
  }
}
